body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.style-types {
    text-decoration: underline;
  }

#intro-text {
    line-height: 2;
    background-color: green;
  }

.style-paragraph {
    text-decoration: underline;
    color: red;
    text-align: right;
  }

.heading-style {
    text-decoration: underline;
    color: navy;
    text-align: center; 
    line-height: 1.5;
    letter-spacing: 2px;
    text-decoration: italic;
}

#css-properties {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 2px solid green;
    width: 500px;
    height: 300px;
    position: relative;
    top: 50px;
    left: 50px;
    opacity: 0.9;
    overflow: auto;
    cursor: pointer;
    z-index: 1;
    transition: all 2s ease-in-out;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
}

table {
    table-layout: fixed;
    caption-side: bottom;
}

td {
    empty-cells: show;
    color: blueviolet;
    font-family: Arial, sans-serif;
    text-align: center;
}

#ul-css {
    list-style-position: inside;
    color: yellowgreen;
    font-family: Arial, sans-serif;
}

ul {
    color: blueviolet;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
